@model Tome.Models.TomeViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var editor = ViewBag.Editor;
    var referredTome = @Model.ReferredTome.TomeId;
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Tome", FormMethod.Post))
{
    @Html.CheckBoxFor(m => m.ReferredTome.IsPrivate)
    @Html.TextBoxFor(m => m.ReferredTome.TomeId,new {@Value = referredTome, @type="hidden"})
    @Html.Label("Is Private")
    @Html.Raw(editor)
    <input type="submit" value="Edit">
}

