@using Tome.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/table.css" rel="stylesheet" />


<style>
    .thead-dark {
        background-color: #383636;
    }
    .button-custom {
        color: #337ab7;
        background: transparent;
        border: none;
    }
</style>

<div class="index-menu-control">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            @if (@ViewBag.TagId != null)
            {

                using (Html.BeginForm("IndexByName", "Tome", FormMethod.Post))
                {

                    @Html.TextBox("TagId", (String)@ViewBag.TagId, new { @class = "hidden" })
                    if (ViewBag.sortByNameAsc == true)
                    {
                        @Html.CheckBox("sortByNameAsc", new { @class = "hidden" , @checked = false , @value = false})
                    }
                    else
                    {
                        @Html.CheckBox("sortByNameAsc", new { @class = "hidden" , @checked = true, @value = true })

                    }
                    <th scope="col"><input type="submit" value="Tome Nam" class="button-custom" /></th>
                }
                using (Html.BeginForm("IndexByDate", "Tome", FormMethod.Post))
                {
                    @Html.TextBox("TagId", (String)@ViewBag.TagId, new { @class = "hidden" })
                    @Html.CheckBox("sortByDateAsc",  new { @class = "hidden" , @checked = true, @value = true})
                    <th scope="col"><input type="submit" value="Creation Date" class="button-custom" /></th>
                }
            }

            else
            {
                if (ViewBag.sortByNameAsc == true)
                {
                    <th scope="col">@Html.ActionLink("Tome Name", "IndexByName", "Tome", new { sortByNameAsc = false }, new { @class = "" })</th>
                }
                else
                {
                    <th scope="col">@Html.ActionLink("Tome Name", "IndexByName", "Tome", new { sortByNameAsc = true }, new { @class = "" })</th>
                }

                <th scope="col"> @Html.ActionLink("Creation Date", "IndexByDate", "Tome", new { sortByDateAsc = true }, new { @class = "" })</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var tome in ViewBag.Tomes)
        {
            <tr>
                <th scope="row">@Html.ActionLink(((Tome)tome).Name, "Show", "Tome", new { id = tome.TomeId }, new { @class = "" })</th>
                <td>@tome.CreationDate</td>
            </tr>
        }
        </tbody>
    </table>


</div>