
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/table.css" rel="stylesheet" />
<!--
<div class="row">

    @foreach (var tome in ViewBag.Tomes)
    {
        <h2>@tome.Name</h2>
        @Html.ActionLink("Read", "Show", "Tome", new { @id = tome.TomeId }, new { @class = "btn btn-primary btn-large" })
    }
</div>
-->


<div class="wrapper">
    <div class="wrapper">
        @for (int i = 0; i < @ViewBag.Tomes.Count; i++)
        {
            if (i == 0)
            {
                <div class="parent" onclick="">
                    <div class="child bg-one">
                        <a href="@Url.Action("Show", "Tome", new { @id = @ViewBag.Tomes[i].TomeId })">@ViewBag.Tomes[i].Name</a>
                    </div>
                </div>
            }
            else if (i == 1)
            {

                <div class="parent right" onclick="">
                    <div class="child bg-two">
                        <a href="@Url.Action("Show", "Tome", new { @id = @ViewBag.Tomes[i].TomeId })">@ViewBag.Tomes[i].Name</a>
                    </div>
                </div>
            }
            else if (i == 2)
            {

                <div class="parent" onclick="">
                    <div class="child bg-three">
                        <a href="@Url.Action("Show", "Tome", new { @id = @ViewBag.Tomes[i].TomeId })">@ViewBag.Tomes[i].Name</a>
                    </div>
                </div>
            }
            else if (i == 3)
            {

                <div class="parent right" onclick="">
                    <div class="child bg-four">
                        <a href="@Url.Action("Show", "Tome", new { @id = @ViewBag.Tomes[i].TomeId })">@ViewBag.Tomes[i].Name</a>
                    </div>
                </div>
            }
            else if (i == 4)
            {

                <div class="parent" onclick="">
                    <div class="child bg-five">
                        <a href="@Url.Action("Show", "Tome", new { @id = @ViewBag.Tomes[i].TomeId })">@ViewBag.Tomes[i].Name</a>
                    </div>
                </div>
            }
            else if (i == 5)
            {

                <div class="parent right" onclick="">
                    <div class="child bg-six">
                        <a href="@Url.Action("Show", "Tome", new { @id = @ViewBag.Tomes[i].TomeId })">@ViewBag.Tomes[i].Name</a>
                    </div>
                </div>
            }

            <!--
            <h2>@ViewBag.Tomes[i].Name</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>--
            -->
        }
    </div>
</div>