@model Tome.Models.TomeViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="text-center">@Model.ReferredTome.Name</h2>

@if (@Model.ReferredTome.IsPrivate)
{
    <h4>This Tome is <span style="color: red;">private</span></h4>
}
else
{
    <h4>This Tome is <span style="color: green;">public</span></h4>
}
<h4>Creation date: @Model.ReferredTome.CreationDate</h4>


<!-- User / Moderator / Admin  -->
@if (Request.IsAuthenticated)
{
    if (@ViewBag.roleAccount == "Administrator")
    {
        @Html.ActionLink("Edit Tome", "Edit", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large" })
        @Html.ActionLink("History", "Index", "History", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large" })
        @Html.ActionLink("Delete", "Delete", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large" })
    }
    else if (@ViewBag.roleAccount == "Moderator")
    {
        @Html.ActionLink("Edit Tome", "Edit", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large" })
        @Html.ActionLink("History", "Index", "History", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large" })
    }
    else if (@ViewBag.roleAccount == "User")
    {
        if (@ViewBag.AuthUser)
        {
            @Html.ActionLink("Edit Tome", "Edit", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("History", "Index", "History", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large" })
        }
    }

}
else
{
    <!-- Public | Anonymous Users  -->
    if (@Model.ReferredTome.IsPrivate == false)
    {
        @Html.ActionLink("Edit Tome", "Edit", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large" })
    }
    else
    {
        <!-- Private | Anonymous Users  -->
    }
}





<div style="margin-top: 5%; margin-bottom: 100px;">
    @Html.Raw(File.ReadAllText(Model.TomeContent.Content))
</div>



