@model Tome.Models.TomeViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-control">

    <h1 class="text-center">@Model.ReferredTome.Name</h1>

    <div class="content-details-control">

        @if (@Model.ReferredTome.IsPrivate)
        {
            <h4>This Tome is <span style="color: red;">private</span></h4>
        }
        else
        {
            <h4>This Tome is <span style="color: green;">public</span></h4>
        }
        <h4>Creation date: @Model.ReferredTome.CreationDate</h4>


        @if (@ViewBag.TagTome == null)
        {
            <h4>Category: No Category</h4>
        }
        else
        {
            <h4>Category: @ViewBag.TagTome</h4>
        }


        <!-- User / Moderator / Admin  -->
        @if (Request.IsAuthenticated)
        {
            if (@ViewBag.roleAccount == "Administrator")
            {
                @Html.ActionLink("Edit Tome", "Edit", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large btn-control" })
                @Html.ActionLink("History", "Index", "History", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large btn-control" })
                @Html.ActionLink("Delete", "Delete", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large btn-control" })
            }
            else if (@ViewBag.roleAccount == "Moderator")
            {
                @Html.ActionLink("Edit Tome", "Edit", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large btn-control" })
                @Html.ActionLink("History", "Index", "History", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large btn-control" })
            }
            else if (@ViewBag.roleAccount == "User")
            {
                @Html.ActionLink("Edit Tome", "Edit", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large btn-control" })
                @Html.ActionLink("History", "Index", "History", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large btn-control" })
            }

        }
        else
        {
            <!-- Public | Anonymous Users  -->
            if (@Model.ReferredTome.IsPrivate == false)
            {
                @Html.ActionLink("Edit Tome", "Edit", "Tome", new { @id = Model.ReferredTome.TomeId }, new { @class = "btn btn-primary btn-large btn-control" })
            }
            else
            {
                <!-- Private | Anonymous Users  -->
            }
        }


        <div>
            @Html.Raw(File.ReadAllText(Model.TomeContent.Content))
        </div>


    </div>


</div>