@*@Model Int32 *@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/timeline.css" rel="stylesheet" />

<div class="pb-2 mt-4 mb-2 border border-bottom">
    <h2>Create a new tome</h2>
    @if (TempData["Alert"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @Html.Raw(TempData["Alert"])
        </div>
    }
</div>

<div class="container" style="margin-top: 10px; margin-bottom: 50px; padding-left: 10%;">
    <div class="timeline">

        <div class="timeline-month">
            @DateTime.Now.ToString("MMMM"),  @DateTime.Now.Year
            <span>@ViewBag.TomeHistoryList.Count Entries</span>
        </div>

        @foreach (var tomeHistory in ViewBag.TomeHistoryList)
        {
            <div class="timeline-section">
                <div class="timeline-date">
                    @tomeHistory.ModificationDate.Day, @tomeHistory.ModificationDate.ToString("dddd")
                </div>
                <div class="row">
                    @if (ViewBag.curentVersion == tomeHistory.Id)
                    {
                        <div class="col-sm-6">
                            <div class="timeline-box">
                                <div class="box-title">
                                    <i class="fa fa-asterisk text-success" aria-hidden="true"></i>
                                    Edited / Created
                                </div>
                                <div class="box-content">
                                    @Html.ActionLink("Delete", "DeleteVersion", "History", new { @id = @tomeHistory.TomeId, @idHistory = @tomeHistory.Id }, new { @class = "btn btn-xs btn-default pull-right" })
                                    @Html.ActionLink("Revert", "ChangeVersion", "History", new { @id = @tomeHistory.TomeId, @idHistory = @tomeHistory.Id }, new { @class = "btn btn-xs btn-default pull-right" })

                                    @if (tomeHistory.ApplicationUser == null)
                                    {
                                        <div class="box-item">
                                            <strong>Username</strong>: Anonymous user
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="box-item"><strong>Username</strong>: @tomeHistory.ApplicationUser.Email</div>
                                    }
                                    <div class="box-item"><strong>Start Date</strong>: @tomeHistory.ModificationDate.ToString("dd/mm/yyyy hh:mm")</div>
                                    @if (ViewBag.curentVersion == tomeHistory.Id)
                                    {
                                        <div class="box-item"><strong style="color: green">Current version</strong></div>
                                    }

                                </div>
                                <div class="box-footer">- Tyler</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-5">
                            <div class="timeline-box">
                                <div class="box-title">
                                    <i class="fa fa-asterisk text-success" aria-hidden="true"></i>
                                    Edited / Created
                                </div>
                                <div class="box-content">
                                    @Html.ActionLink("Delete", "DeleteVersion", "History", new { @id = @tomeHistory.TomeId, @idHistory = @tomeHistory.Id }, new { @class = "btn btn-xs btn-default pull-right" })
                                    @Html.ActionLink("Revert", "ChangeVersion", "History", new { @id = @tomeHistory.TomeId, @idHistory = @tomeHistory.Id }, new { @class = "btn btn-xs btn-default pull-right" })

                                    @if (tomeHistory.ApplicationUser == null)
                                    {
                                        <div class="box-item">
                                            <strong>Username</strong>: Anonymous user
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="box-item"><strong>Username</strong>: @tomeHistory.ApplicationUser.Email</div>
                                    }
                                    <div class="box-item"><strong>Start Date</strong>: @tomeHistory.ModificationDate.ToString("dd/mm/yyyy hh:mm")</div>
                                    @if (ViewBag.curentVersion == tomeHistory.Id)
                                    {
                                        <div class="box-item"><strong style="color: green">Current version</strong></div>
                                    }

                                </div>
                                <div class="box-footer">- Tyler</div>
                            </div>
                        </div>

                    }
                </div>
            </div>

        }

    </div>
</div>






@*
    @foreach (var history in ViewBag.TomeHistoryList)
    {
        <h1>@history.ModificationDate</h1>

        using (Html.BeginForm("ChangeVersion", "History", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m, new { @Value = @Model, @type = "hidden" })
            <input type="submit" value="Change to this version">
        }

    }
*@